---
import './start.css';

const {frontmatter} = Astro.props;

---

<!doctype html>
<html lang="de">
   
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>{frontmatter.title}</title>
</head>
    <body>
        <div class="container">
            <slot />
        </div>
    </body>
</html>
